<div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 profile-show-review">
        <div class="row">
          <div class="book-image col-md-4">
            <%= link_to image_tag(review.book.book_img.url(:book_show), class: "image"), book_path(review.book.id) %>
          </div>

          <div class="book-review-content col-md-8">
            <div>
              <span class="tip-left" style="padding-left: 20px; margin-top: -10px;"></span>
              <span style="font-weight: 800; font-size: 20px;"><%= t "Title" %> :</span>
              <span style="font-weight: 500; font-size: 20px; color: #db5b09; "><%= review.book.title.truncate_words(10) %></span>
            </div>
            <div class='book-description'>

              <span class="tip-left" style=" padding-left: 20px;"><span style="font-weight: 800; font-size: 16px;"><%= t "Descriptions" %> :</span><%= review.book.description.truncate(200) %></span>
            </div>

            <div class="review-info">
              <% reviewer = review.user %>
              <% name = reviewer.name ? reviewer.name : reviewer.email %>
              <% from_time = review.created_at %>

              <div class="avatar-user">
                <%= link_to image_tag(review.user.avatar.url(:medium), class: "round-image-50"), reviewer %>
              </div>
              <div class="name-time">
                <%= link_to name.titleize, reviewer, style: "color: red; margin-right: 5px; margin-left: 10px" %>
                <% for i in (1..5) do %>
                <% if !review.rating.blank? && i<=review.rating %>
                <i class="fa fa-star" style="color: #faca51"></i>
                <% else %>
                <i class="fa fa-star"></i>
                <% end %>
                <% end %>
                <br>
                <div style="margin-top: -5px"><span style="margin-left: 10px; color: #999999;"><%= time_ago_in_words from_time %><%= t "ago" %>.</span></div>

              </div>


            </div>
            <div class="review-comment-content">
              <span class="tip-left" style=" padding-left: 20px;"><span style="font-weight: 800; font-size: 16px;"><%= t "Review" %>: </span><%= review.comment.truncate(420) %></span>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-1"></div>
    </div>
