<!-- name co the bi nil khi do dung get_user_name de tra ve email neu nil -->
<div class="border-review"></div>
<div class="review-container">
  <div class="rate-name-user">
    <% for i in (1..5) do %>
      <% if i<=review.rating %>
        <i class="fa fa-star" style="color: #faca51"></i>
      <% else %>
        <i class="fa fa-star"></i>
      <% end %>
    <% end %>
    <span style="margin-left: 10px;"><%= link_to get_user_name(review.user.id).titleize, review.user, style: "color: red;" %></span>
    <span><time><%= review.created_at.strftime("%d/%m") %></time></span>
  </div>

  <div class="show-review-content">
    <%= review.comment %>
  </div>
  <div class="bt-like-comment">

      <% if user_signed_in? %>
        <div>
          <section id="like<%= review.id %>">
            <% if current_user.liked? review  %>
              <% like = Vote.find_by votable_type: "Review", votable_id: review.id, voter_id: current_user.id %>
              <%= render "reviews/unlike", like: like %>
            <% else %>
              <%= render "reviews/like", review: review %>
            <% end %>
          </section>
        </div>
      <% end %>
      <span id="numberoflikes<%= review.id %>">
      <% if user_signed_in? %>
        <%= render "reviews/stats", review: review %>
      <% else %>
        <i class="fa fa-thumbs-o-up bt-like" aria-hidden="true" style="margin-left: 10px; font-size: 20px; width: 80px;">
        <span><%= review.get_likes.size %><%= t "Like" %></span>
          </i>
        <i class="fa fa-comments-o bt-comment bt-comment-<%= review.id %>" aria-hidden="true" style="margin-left: 10px; font-size: 20px"><%= t "Comment" %></i>
      <% end %>

      </span>
  </div>
  <div class="show-new-comment-<%= review.id %>" style="display: none">
    <div class="show-new-comment">
      <div class="show-comment">
          <% review.root_comments.each do |comment| %>
            <% if User.find_by(id: comment.user_id).name == nil %>
              <p ><%= link_to User.find_by(id: comment.user_id).email.titleize, user_path(User.find_by(id: comment.user_id).id), style: "color: red" %>
                <time><%= comment.created_at.strftime("%d/%m") %></time>
              </p>
              <p style="margin-left: 10px"><%= comment.body%></p>
            <% else %> 
              <p><%= link_to User.find_by(id: comment.user_id).name.titleize, user_path(User.find_by(id: comment.user_id).id), style: "color: red" %>
                <time><%= comment.created_at.strftime("%d/%m") %></time>
              </p>
              <p style="margin-left: 10px"><%= comment.body%></p>
            <% end %>
            <div style="border-bottom: solid 1px #ccc; margin-bottom: 20px; padding-bottom: -15px"></div>
      <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="new-comment">
          <%= form_for(Comment.new, url: create_comment_path, method: 'post') do |f| %>
            <%= f.hidden_field :commentable_id, value: review.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :commentable_type, value: "Review" %>
            <%= f.hidden_field :book_id, value: @book.id %>
            <%= f.text_area :body, class: 'form-control' %>
            <%= f.submit "send", class: 'button-send-comment', style: "margin-top: 10px;"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>





